<!DOCTYPE html>
<html>
  <head>
    <title>Mason's amazing Website</title>
     <link ref="stylesheet" href="style.css">
  </head>
  
  <body>
    <!--Visible html elements GO HERE -->
  </body>
</html>

<body>
  <!-- All content goes here-->
  <div>
    <nav>
        <h1> Mason's Glorius Website</h1>
        <ul id="nav-ul"
          <li>
            <a href="index.html"> Home </a>
          </li>
          <li class="nav-li"
          <a href="portfolio.html"> Portfolio </a>
          </li>
        </ul>
      </nav>
    
    <main>
       <!--sidebar section-->
  <div class="sidebar">
    <img class="sidebar"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLH9TWDRRnAqGxKqON9Hreg78RvmGUqn0krw&s">
  </div>

    <!-- Content Section-->
    <div class="content"
      <h2>Mason</h2>
      <p>A student at david thibodeaux</p>
      <!-- Interests section-->
      <div class="sidebar" id="interests">
        <h3> Interests</h3>
        <ul>
          <li> I like to play football</li>
          <li> I know how to swim</li>
          <li> I love riding dirtbikes</li>
          
        </ul>
      </div>
    </div>
      
    </main>
  </div>
</body>
<body>
  <!-- All content goes here -->
  <div id="all contents"
    ...
  </div>
</body>
<ul>
  <li>
   git add.
   git commit -m 'css done'
   git push